extends layout

block content
  div.frame
    p.price= meme.price
    p.memeName(href="meme/" + meme.id) #{meme.name}
    img(src=meme.url)

  div.frame
    table.priceTable
      caption Price history
      tr
        th Price
        th User
        th Id
      each price in prices
        tr
          td= price.price
          td= price.user
          td= price.id

  if user
    form.frame(method="POST", action="")
      input(type="hidden", name="_csrf", value=csrfToken)

      input#nprice(type='text', placeholder="New price", name="nprice")
      input(type='submit', value="Set")
  nav.frame
    a(href="/") Back to meme list